ENV=development
KAFKA_OFFSET_RESET=earliest
KAFKA_BOOTSTRAP_SERVER="localhost:29092"
KAFKA_RETRY=3

CORS_ALLOW_ORIGINS="http://localhost:3000,http://localhost:3001"
CORS_ALLOW_METHODS="GET,POST,PUT,PATCH,DELETE,OPTIONS"
CORS_ALLOW_HEADERS="Origin,Content-Type,Accept,Authorization"
CORS_ALLOW_CREDENTIALS=true
CORS_ALLOW_ORIGIN_WILDCARD=true

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=saga_orchestration
DB_USER=root
DB_PASSWORD=password
DB_IDLE=10
DB_MAX=100
DB_LIFETIME=300